# Konfigurasi Admin Portal
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123

# Server Settings
PORT=8000
HOST=0.0.0.0

# Bot Worker Settings (Set false di local jika VPS sudah menjalankan bot agar tidak conflict 409)
ENABLE_BOT_POLLING=true
